/* Importação das fontes */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

/* Reset e box-sizing */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Estilo geral */
body {
  font-family: 'IM Fell English SC', serif;
  background-color: #1f1f1f;
  background-image: url('../../../fotos_site/fundoback.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  color: #e8dbc3;
}

/* Cabeçalho */
header {
  background-color: rgba(0, 0, 0, 0.9);
  color: #b99c1a;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.header-left {
  font-size: 2em;
  font-weight: bold;
  color: #b99c1a;
}

.header-right a {
  color: #b99c1a;
  text-decoration: none;
  margin-left: 20px;
  font-family: 'Merienda', cursive;
  font-weight: bold;
  font-size: 1em;
  transition: color 0.3s;
}

.header-right a:hover {
  color: #ffffff;
   text-shadow: 0 0 5px #b99c1a;
}

/* Container principal */
.container {
  background-color: rgba(0, 0, 0, 0.8);
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.7);
  border: 2px solid #5a3d1e;
}

/* Títulos */
h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 2em;
  color: #b99c1a;
  text-shadow: 1px 1px 3px #000;
}

/* Formulário */
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #ffffff;
}

input[type="text"],
input[type="file"],
textarea {
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #e8dbc3;
  border: 1px solid #5a3d1e;
  border-radius: 8px;
  font-family: 'Merienda', cursive;
}

input::placeholder,
textarea::placeholder {
  color: #c7b89c;
}

textarea {
  resize: none;
}

/* Botão */
button {
  background-color: #b99c1a;
  color: #1f1f1f;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  font-family: 'Merienda', cursive;
  font-size: 1em;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #d4b437;
  transform: translateY(-2px);
}

/* Scrollbar personalizada */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f9f4e9;
}

::-webkit-scrollbar-thumb {
  background-color: #8b5a2b;
  border-radius: 6px;
  border: 3px solid #f9f4e9;
}
